[Unit]
Description=Stamp Video Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/coolhippo159/AreobaticBlackBox/run_all.py stamp_video
Restart=always
User=coolhippo159
WorkingDirectory=/home/coolhippo159/AreobaticBlackBox/
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target